* {
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    scroll-behavior: smooth;
  }
  
  header {
    text-align: center;
    line-height: 100px;
    background-color: bisque;
  }

  /* header h1::before {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
    margin: 0 auto 10px auto;
} */


  nav {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding-left: 20px;
    height: 34px;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
}  
nav ul {
    display: flex;
    gap: 20px;
  }
  /* nav ul li::before {
    content: "•";
    color: darkred;
    margin-right: 5px;
} */
/* nav ul li a:hover {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

nav ul li a:active {
  color: black;
  background-color: darkgray;
  padding: 5px 10px;
  border-radius: 5px;
} */

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
  }
  main {
    display: flex;
  }
  p{
    text-align: justify;
  }

  aside {
    display: flex;
    flex-direction: column;
    margin: 34px;
    gap: 12px;
    align-items: center;
    width: 35%;
  }

  aside .sandhika {
    width: 50%;
    border-radius: 50%;
  }
  article {
    display: flex;
    flex-direction: column;
    margin: 34px;
    width: 65%;
    gap: 12px;
    padding-bottom: 64px;
  }

  figure{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  figure > p {
    position: absolute;
    top: 0;
    left: 90%;
  }

  figure > h1 {
    position: absolute;
    top: 85%;
    right: 80%;
    color: white;
    font-weight: 800;
    background-color: red;
    border-radius: 30%;
    padding: 0.5rem;
  }

  figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    margin-bottom: 12px;
    padding: 2px;
    text-align: center;
  }

.pendidikan{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.pendidikan ol{
    margin-left: 30px;
}
footer {
  text-align: center;
  background-color: bisque;
  padding: 24px;
  position: fixed;
  bottom: 0;
  width: 100%;
}